<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | ra_hkim</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
</head>
<body>
<header>
    <nav>
        <a href="/">ra_hkim</a>
        <div>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/projects/">Projects</a>
        </div>
    </nav>
</header>
<main>
    {{ content | safe }}
</main>
<footer>
    <p>@ra_hkim</p>
</footer>
</body>
</html>
