<section class="employment">
    <h1>Employment History</h1>
    <div class="timeline">
        {% for job in collections.employment%}
        <article class="timeline-item {% if job.data.current %}current{% endif %}">
            <div class="timeline-marker">
                <img src="{{ job.data.logo }}" alt="{{ job.data.company }} logo">
            </div>
            <div class="timeline-card">
                <div class="timeline-header">
                    <div>
                        <h2>{{ job.data.role }}</h2>
                        <h3>{{ job.data.company }}</h3>
                    </div>
                    <span class="timeline-date">
                        {{ job.data.start }} — {{ job.data.end }}
                    </span>
                </div>
                <p class=left >
                    {{ job.data.description }}
                </p>
                <ul class=left >
                    {% for highlight in job.data.highlights %}
                        <li>{{ highlight }}</li>
                    {% endfor %}
                </ul>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
