button {
  border-radius: 10px;
  border: 1px solid #333;
  background-color: #181818;
  color: #eee;
  font-weight: 600;
  font-size: medium;
  padding: 5px;
  width: 170px;
  height: 40px;
  transition-duration: 0.4s;
}

button:hover {
   background-color: #111;
   border: 1px solid currentColor;
}
