* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #111;
    color: #eee;
    line-height: 1.5;
}

header {
    border-bottom: 1px solid #6b6b6b;
    animation-name: header-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes header-animation {
  0%   {border-bottom: 1px solid #6b6b6b};
  50%  {border-bottom: 1px solid #eee;}
  100% {border-bottom: 1px solid #6b6b6b;}
}

nav {
    max-width: 1000px;
    margin: auto;
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
}

nav a {
    color: inherit;
    text-decoration: none;
    margin-left: 1.5rem;
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 4rem 1.5rem;
}

a {
    color: #7dd3fc;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}

.hr-text::before {
  content: '';
  background: linear-gradient(to right, transparent, #eee, transparent);
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 1px;
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: #eee;
  padding: 0 1em;
  background-color: #111;
}

footer {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 1.5rem;
    border-top: 1px solid #6b6b6b;
}
